.logo-container {
    margin-left: 20px; /* Adjust the margin-left value as needed */
  }
  
  .history-logo {
    height: 50px; /* Adjust the height as needed */
    width: 50px; /* Adjust the width as needed */
  }
  
  .main-logo {
    height: 120px; /* Adjust the height as needed */
    width: 120px; /* Adjust the width as needed */
  }
  