.predictions-page {
  margin-top: 20px;
}

.predictions-title-wrapper {
  text-align: center;
}

.predictions-title {
  margin: 0;
  font-size: 24px;
}

.prediction-item {
  border: 1px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.away-team,
.home-team {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.away-team p,
.home-team p {
  margin: 0;
}

.team-info img {
  width: 40px; /* Adjust the width to your desired size */
  height: 40px; /* Maintain aspect ratio */
}

.game-status {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.game-date,
.game-time {
  margin-bottom: 5px;
  text-align: center;
}

.prediction {
  font-style: italic;
  text-align: center;
  color: rgb(215, 112, 112);
}
