.prediction-history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-heading {
  font-size: 1.5rem;
}

.prediction-history-column {
  margin-left: 20px; /* Adjust the margin as per your layout preferences */
}

.prediction-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.prediction-list li {
  margin-bottom: 8px;
}
