.prediction-history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 5rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-heading {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.prediction-history-column {
  margin-right: 2px; 
  margin-bottom: 44.4rem;
}

.prediction-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.prediction-list li {
  margin-bottom: 0px;
}

.sort-buttons {
  margin-bottom: 1rem;
}

.sort-button-container {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
}

.sort-button {
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sort-button:hover {
  background-color: #555555;
}

.sort-button:active {
  background-color: #3e3e3e;
}

.sort-button:focus {
  outline: none;
}

.sort-button:first-child {
  border-right: 1px solid #4a4a4a;
}

.overall-percentage {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px; 
}
