.prediction-history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.prediction-history-container {
  text-align: center;
}

.prediction-history-text {
  margin: 0 auto;
}
